<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>

        <div class="container">
            <h2 class="title is-2 has-text-left">Customer&nbsp;</h2>
            <p><span th:text="${findNameMessage}"></span></p>
            <p><span th:text="${customerExportMessage}"></span></p>
            <p><span th:text="${message}"></span></p>

            <div class="table-container">
                <table  id="theData" class="table left is-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">ID</th>
                            <th style="width: 150px;">Full Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="customer : ${customers}">
                            <td th:text="${customer.id}"></td>
                            <td th:text="${customer.fullName}"></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            <br></br>
        </div>
        <div class="container">
            <h2 class="title is-2 has-text-left">Orders&nbsp;</h2>
            <p><span th:text="${findNameMessage}"></span></p>
            <p><span th:text="${customerExportMessage}"></span></p>
            <p><span th:text="${message}"></span></p>
            <div class="table-container">
                <table  id="theData" class="table centered is-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">Order ID</th>
                            <th style="width: 280px;">Order Date</th>
                            <th style="width: 180px;">Welcome Baby Boy</th>
                            <th style="width: 180px;">Welcome Baby Girl</th>
                            <th style="width: 180px;">Very Special Delivery</th>
                            <th style="width: 180px;">Small Stuffed Animal</th>
                            <th style="width: 180px;">Medium Stuffed Animal</th>
                            <th style="width: 180px;">Large Stuffed Animal</th>
                            <th style="width: 150px;">Order Status</th>
                            <th style="width: 150px;">Total Cost</th>
                            <th style="width: 150px;">Amount Paid</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="flowerorder : ${flowerorders}">
                            <td th:text="${flowerorder.id}"></td>
                            <td th:text="${flowerorder.orderDate}"></td>
                            <td th:text="${flowerorder.item1}"></td>
                            <td th:text="${flowerorder.item2}"></td>
                            <td th:text="${flowerorder.item3}"></td>
                            <td th:text="${flowerorder.item4}"></td>
                            <td th:text="${flowerorder.item5}"></td>
                            <td th:text="${flowerorder.item6}"></td>
                            <td th:text="${flowerorder.orderStatusTypeDescription}"></td>
                            <td th:text="${flowerorder.totalCost}"></td>
                            <td th:text="${flowerorder.amountPaid}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br></br>

        <div class="container">
            <h2 class="title is-2 has-text-left"> Orders Total: <span th:text="${ordersTotal}"></span></h2>
        </div>

        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>