<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>

        
        
        
        <div class="container">
            <h2 class="title is-2 has-text-centered">Customer List&nbsp;<a th:href="@{/customer/add}" th:text="Add" class="button"></a></h2>
            <p><span th:text="${findNameMessage}"></span></p>
            <p><span th:text="${customerExportMessage}"></span></p>
            <p><span th:text="${message}"></span></p>

            <div class="table-container">
                <table  id="theData" class="table centered is-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">ID</th>
                            <th style="width: 150px;">Full Name</th>
                            <th style="width: 150px;">Address</th>
                            <th style="width: 150px;">City</th>
                            <th style="width: 150px;">Province</th>
                            <th style="width: 150px;">Postal Code</th>
                            <th style="width: 150px;">Phone Number</th>
                            <th style="width: 150px;">Date of Birth</th>
                            <th style="width: 150px;">loyalty Card</th>
                            <th style="width: 150px;">Customer Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="customer : ${customers}">
                            <td th:text="${customer.id}"></td>
                            <td th:text="${customer.fullName}"></td>
                            <td th:text="${customer.address1}"></td>
                            <td th:text="${customer.city}"></td>
                            <td th:text="${customer.province}"></td>
                            <td th:text="${customer.postalCode}"></td>
                            <td th:text="${customer.phoneNumber}"></td>
                            <td th:text="${customer.birthDate} ?: 'UNKNOWN'"></td>
                            <td th:text="${customer.loyaltyCard}"></td>
                            <td th:text="${customer.customerTypeDescription}"></td>
                            <td><a th:href="@{/customer/edit(id=${customer.id})}">Edit</a>&nbsp;<a
                                    th:href="@{/customer/delete(id=${customer.id})}">Delete</a></td>

                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>