/*
    ##################################################
        Author: jdkitson
        Date: November 16, 2019
        Purpose: CIS2288 Topic 6 Class 3 - Stylesheet
    ##################################################
    */

element.style {
}
p {
    margin: 0 0 10px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#container {
    width: 800px;
    margin: 50px auto;
    background-color: lightcoral;
    color: black;
    padding: 50px;
    border-radius: 25px;
    border: 2px solid white;

}
body {
    background-color: #ce5e5e;
}
.btn-info {
    color: #fff;
    background-color: lightcoral;
    border-color: lightcoral;
}
.btn-info:hover {
    color: lightcoral;
    background-color: white;
    border-color: white;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: lightcoral;
}
.btn-primary {
    color: maroon;
    background-color: white;
    border-color: maroon;
}
.btn-primary:hover {
    color: lightcoral;
    background-color: maroon;
    border-color: lightcoral;
}
.container-fluid {

    background-color: maroon;
    color: white;
}
a{
    color: darkblue;
}
.login-form {
    width: 340px;
    margin: 50px auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

#error {
    /*display: none;*/
}


