<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <body>
    <nav th:fragment="navbar" class="navbar nav" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a th:href="@{/}" class="vert-align">
                <img src="/images/flower.gif" class="logo"></span>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" id="burg"
               onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                
                 <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-item">Order</a>
                    <div class="navbar-dropdown">
                        <a th:href="@{/order/list}" class="navbar-item">Order List</a>
                        <hr class="navbar-divider">
                        <a th:href="@{/order/add}" class="navbar-item">Add Order</a>
                        <hr class="navbar-divider"> 
                        <a th:href="@{/order/export}" class="navbar-item">Export List</a>
                        <hr class="navbar-divider">     
                    </div>
                </div>
                
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-item">Customer</a>
                    <div class="navbar-dropdown">
                        <a th:href="@{/customer/list}" class="navbar-item">Customer List</a>
                        <hr class="navbar-divider">
                        <a th:href="@{/customer/add}" class="navbar-item">Add Customer</a>
                        <hr class="navbar-divider">                            
                        <a th:href="@{/customer/export}" class="navbar-item">Export List</a>
                        <hr class="navbar-divider">                                                      
                    </div>
                </div>
                 <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-item">Report</a>
                    <div class="navbar-dropdown">                            
                        <a th:href="@{/report/orderDate}" class="navbar-item">Find By Date</a>
                        <hr class="navbar-divider"> 
                        <a th:href="@{/report/orderByCusId}" class="navbar-item">Find By Id</a>
                        <hr class="navbar-divider">
                    </div>
                </div>
              
                <div class="navbar-end">
                    <a th:href="@{/about}" class="navbar-item">
                        About
                    </a>
                </div>
            </div>
        </div>
    </nav>
    </body>
</html>