<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>
        <div class="container">
            <form th:object="${order}" action="/order/addSubmit" th:action="@{/order/addSubmit}" method="post" class="form-horizontal">
                <fieldset>
                    <p th:text="${message}">message here</p>
                    <table class="table table-striped">


                        <tr>
                            <td><input type= "hidden" th:field="${order.id}"</td>
                        </tr>
                        <tr>
                            <th>Customer Id</th>
                            <td>

                                <select th:field="${names}">
                                    <option th:each="current: ${names}" 
                                            th:value="${current}"
                                            th:text="${current}">

                                    </option>
                                    <input required style="width: 40px" type="number" th:field="${order.customerId}" />
                                </select>


                            </td>
                        </tr>
                        <tr>
                            <th>Order Date</th>
                            <td><input type="date" th:field="${order.orderDate}"/>
                                <ul th:if="${#fields.hasErrors('orderDate')}">
                                    <li class="error" th:each="err : ${#fields.errors('orderDate')}" th:text="${err}"> Order Date is invalid</li>
                                </ul><br/>
                            </td>
                        </tr>


                        <tr>
                            <th th:text="${session.itemTypes[0].description}">item type 1 Description</th>                  

                            <td><input required type="number" th:field="${order.item1}"/>
                                <ul th:if="${#fields.hasErrors('item1')}">
                                    <li class="error" th:each="err : ${#fields.errors('item1')}" th:text="${err}"> Item 1 is invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="${session.itemTypes[1].description}">item type 2 Description</th>                  

                            <td><input required type="number" th:field="${order.item2}"/>
                                <ul th:if="${#fields.hasErrors('item2')}">
                                    <li class="error" th:each="err : ${#fields.errors('item2')}" th:text="${err}"> Item 2 is invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="${session.itemTypes[2].description}">item type 3 Description</th>                  

                            <td><input required type="number" th:field="${order.item3}"/>
                                <ul th:if="${#fields.hasErrors('item3')}">
                                    <li class="error" th:each="err : ${#fields.errors('item3')}" th:text="${err}"> Item 3 is invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="${session.itemTypes[3].description}">item type 4 Description</th>                  

                            <td><input required type="number" th:field="${order.item4}"/>
                                <ul th:if="${#fields.hasErrors('item4')}">
                                    <li class="error" th:each="err : ${#fields.errors('item4')}" th:text="${err}"> Item 4 is invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="${session.itemTypes[4].description}">item type 5 Description</th>                  

                            <td><input required type="number" th:field="${order.item5}"/>
                                <ul th:if="${#fields.hasErrors('item5')}">
                                    <li class="error" th:each="err : ${#fields.errors('item5')}" th:text="${err}"> Item 5 is invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th required th:text="${session.itemTypes[5].description}">item type 6 Description</th>                  

                            <td><input type="number" th:field="${order.item6}"/>
                                <ul th:if="${#fields.hasErrors('item6')}">
                                    <li class="error" th:each="err : ${#fields.errors('item6')}" th:text="${err}"> Item 6 is invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Order Status</th>
                            <td>

                                <select th:field="${order.orderStatus}">
                                    <option th:each="current: ${session.orderStatusTypes}"
                                            th:value="${current.id}"
                                            th:text="${current.description}"></option>
                                </select>

                                <br/>
                            </td>
                        </tr>

                        <tr>
                            <th>Amount Paid</th>
                            <td><input type="text" th:field="${order.amountPaid}"/>
                                <ul th:if="${#fields.hasErrors('amountPaid')}">
                                    <li class="error" th:each="err : ${#fields.errors('amountPaid')}" th:text="${err}"> Amount paid is invalid</li>
                                </ul><br/>
                            </td>
                        </tr>


                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="button" type="submit">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>

        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>