<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>




        <div class="container">


            <span style="float: left" th:text="${findNameMessage}"></span>

            <p style="float: right"><a th:href="@{/order/add}" class="button"> Add an Order </a></p>

            <h2 class="title is-2 has-text-centered">Order List</h2>     

            <p th:text="${message}"></p>

            <div class="table-container">
                <table  id="theData" class="table centered is-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">Order ID</th>
                            <th style="width: 150px;">Customer ID</th>
                            <th style="width: 280px;">Order Date</th>
                            <th style="width: 180px" th:text="${session.itemTypes[0].description}">item type 1 Description</th>                  
                            <th style="width: 180px" th:text="${session.itemTypes[1].description}">item type 2 Description</th>    
                            <th style="width: 180px" th:text="${session.itemTypes[2].description}">item type 3 Description</th>                  
                            <th style="width: 180px" th:text="${session.itemTypes[3].description}">item type 4 Description</th>                  
                            <th style="width: 180px" th:text="${session.itemTypes[4].description}">item type 5 Description</th>                  
                            <th style="width: 180px" th:text="${session.itemTypes[5].description}">item type 6 Description</th>                  
                            <th style="width: 150px;">Order Status</th>
                            <th style="width: 150px;">Total Cost</th>
                            <th style="width: 150px;">Amount Paid</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr th:each="order : ${orders}">
                            <td th:text="${order.id}"></td>
                            <td th:text="${order.customerId}"></td>
                            <td th:text="${order.orderDate}"></td>
                            <td th:text="${order.item1}"></td>
                            <td th:text="${order.item2}"></td>
                            <td th:text="${order.item3}"></td>
                            <td th:text="${order.item4}"></td>
                            <td th:text="${order.item5}"></td>
                            <td th:text="${order.item6}"></td>
                            <td th:text="${order.orderStatusTypeDescription}"></td>
                            <td th:text="${order.totalCost}"></td>
                            <td th:text="${order.amountPaid}"></td>

                            <td><a th:href="@{/order/edit(id=${order.id})}">Edit</a>&nbsp;&nbsp;&nbsp;<a
                                    th:href="@{/order/delete(id=${order.id})}">Delete</a></td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>