<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>

        
        
        
        <div class="container">
            
            
            <span style="float: left" th:text="${findNameMessage}"></span>

            <p style="float: right"><a th:href="@{/order/add}" class="button"> Add an Order </a></p>

           <h2 class="title is-2 has-text-centered">Order List</h2>     
                    
             <p th:text="${message}"></p>

            <div class="table-container">
                <table  id="theData" class="table centered is-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">Order ID</th>
                            <th style="width: 150px;">Customer ID</th>
                            <th style="width: 280px;">Order Date</th>
                            <th style="width: 180px;">Welcome Baby Boy</th>
                            <th style="width: 180px;">Welcome Baby Girl</th>
                            <th style="width: 180px;">Very Special Delivery</th>
                            <th style="width: 180px;">Small Stuffed Animal</th>
                            <th style="width: 180px;">Medium Stuffed Animal</th>
                            <th style="width: 180px;">Large Stuffed Animal</th>
                            <th style="width: 150px;">Order Status</th>
                            <th style="width: 150px;">Total Cost</th>
                            <th style="width: 150px;">Amount Paid</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="order : ${orders}">
                            <td th:text="${order.id}"></td>
                            <td th:text="${order.customerId}"></td>
                            <td th:text="${order.orderDate}"></td>
                            <td th:text="${order.item1}"></td>
                            <td th:text="${order.item2}"></td>
                            <td th:text="${order.item3}"></td>
                            <td th:text="${order.item4}"></td>
                            <td th:text="${order.item5}"></td>
                            <td th:text="${order.item6}"></td>
                            <td th:text="${order.orderStatusTypeDescription}"></td>
                            <td th:text="${order.totalCost}"></td>
                            <td th:text="${order.amountPaid}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                  <br></br>
        <div class="container">
            <h2 class="title is-2 has-text-left"> Total Summary: <span th:text="${ordersTotal}"></span></h2>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>